.dc__projects {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: #161616;
  z-index: 1;
}


.dc__projects-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  cursor: default;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-top: 5rem;
  z-index: 1;
  padding-bottom: 1rem;
}

.a_p1,
.a_p2,
.a_p3,
.a_p4 {
  
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #847365;
  
  text-shadow: #847365 0px 0px 12px;
}

.project1,
.project2,
.project3,
.project4 {
  display: flex;
  margin-bottom: 6rem;
  color: #161616;
  font-family: var(--font-family);
  margin-top: 4rem;
  text-align: left;
  font-weight: 750;
  font-size: 5vmax;
  line-height: 10vmax;
  text-transform: capitalize;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #847365;
  cursor: default;
}

.dc__projects-animation {
  display: inline-block;
  position: relative;
  color: #161616;
}

.dc__projects-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 25px;
  left: 0;
  background-color: #f06a00;
  transform-origin: bottom right;
  transition: transform 0.45s ease-out;
}

.dc__projects-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dc__projects-title {
  display: flex;
  margin-bottom: 6rem;
  color: #161616;
  font-family: var(--font-family);
  margin-top: 4rem;
  text-align: center;
  font-weight: 750;
  font-size: 5vmax;
  line-height: 10vmax;
  text-transform: capitalize;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #f06a00;
  cursor: default;
  justify-content: center;
  text-shadow: #f06a00 0px 0px 12px;
}

.dc__projects-title-animation {
  display: flex;
  text-align: center;
}
/*
.project1:hover {
  position: relative
}

.project1:hover:after { 
  content: url(/src/assets/VRJam.png);  
  display: block;
  position: absolute;
  transform: scale(.3);
  right: -10vmax;  change this value to one that suits you 
  top: -550px;  change this value to one that suits you 
}
  */

  @media screen and (max-width: 1300px) {
    .dc__projects {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      background: #161616;
      z-index: 1;
    }
    
    
    .dc__projects-content {
      flex: 4;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: default;
      margin-right: 5rem;
      margin-left: 5rem;
      margin-top: 5rem;
      z-index: 1;
    }
    
    .a_p1,
    .a_p2,
    .a_p3,
    .a_p4 {
      
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #847365;
      
      text-shadow: #847365 0px 0px 0px;
    }
    
    .project1,
    .project2,
    .project3,
    .project4 {
      display: flex;
      flex: 1;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: left;
      font-weight: 750;
      font-size: 5vmax;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #847365;
      cursor: default;
    }
    
    .dc__projects-animation {
      display: inline-block;
      position: relative;
      color: #161616;
    }
    
    .dc__projects-animation:after {
      display: none;
    }
    
    .dc__projects-animation:hover:after {
      transform: scaleX(1);
    }
    
    .dc__projects-title {
      display: flex;
      flex: 1;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: center;
      font-weight: 750;
      font-size: 5vmax;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #f06a00;
      cursor: default;
      justify-content: center;
      text-shadow: #847365 0px 0px 0px;
    }
    
    .dc__projects-title-animation {
      display: flex;
      text-align: center;
    }
  }

  @media screen and (max-width: 950px) {
    .dc__projects {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      background: #161616;
      z-index: 1;
    }
    
    
    .dc__projects-content {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: default;
      margin-right: 3rem;
      margin-left: 3rem;
      margin-top: 5rem;
      z-index: 1;
    }
    
    .a_p1,
    .a_p2,
    .a_p3,
    .a_p4 {
      
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #847365;
      text-shadow: #847365 0px 0px 0px;
      
    }
    
    .project1,
    .project2,
    .project3,
    .project4 {
      display: flex;
      align-items: center;
      flex: 2;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: left;
      font-weight: 750;
      font-size: 8vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #847365;
      cursor: default;
    }
    
    .dc__projects-animation {
      display: inline-block;
      position: relative;
      color: #161616;
    }
    
    .dc__projects-animation:after {
      display: none;
    }
    
    .dc__projects-animation:hover:after {
      transform: scaleX(1);
    }
    
    .dc__projects-title {
      display: flex;
      flex: 1;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: center;
      font-weight: 750;
      font-size: 9.5vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #f06a00;
      cursor: default;
      justify-content: center;
      text-shadow: #847365 0px 0px 0px;
    }
    
    .dc__projects-title-animation {
      display: flex;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 840px) {
    .dc__projects {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      background: #161616;
      z-index: 1;
    }
    
    
    .dc__projects-content {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: default;
      margin-right: 3rem;
      margin-left: 3rem;
      margin-top: 5rem;
      z-index: 1;
    }
    
    .a_p1,
    .a_p2,
    .a_p3,
    .a_p4 {
      
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #847365;
      text-shadow: #847365 0px 0px 0px;
      
    }
    
    .project1,
    .project2,
    .project3,
    .project4 {
      display: flex;
      align-items: center;
      flex: 2;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: left;
      font-weight: 750;
      font-size: 8vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #847365;
      cursor: default;
    }
    
    .dc__projects-animation {
      display: inline-block;
      position: relative;
      color: #161616;
    }
    
    .dc__projects-animation:after {
      display: none;
    }
    
    .dc__projects-animation:hover:after {
      transform: scaleX(1);
    }
    
    .dc__projects-title {
      display: flex;
      flex: 1;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: center;
      font-weight: 750;
      font-size: 9.5vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #f06a00;
      cursor: default;
      justify-content: center;
      text-shadow: #847365 0px 0px 0px;
    }
    
    .dc__projects-title-animation {
      display: flex;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 710px) {
    .dc__projects {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      background: #161616;
      z-index: 1;
    }
    
    
    .dc__projects-content {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: default;
      margin-right: 3rem;
      margin-left: 3rem;
      margin-top: 5rem;
      z-index: 1;
    }
    
    .a_p1,
    .a_p2,
    .a_p3,
    .a_p4 {
      
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #847365;
      text-shadow: #847365 0px 0px 0px;
      align-items: center;
    }
    
    .project1,
    .project2,
    .project3,
    .project4 {
      display: flex;
      align-items: center;
      flex: 2;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: left;
      font-weight: 750;
      font-size: 8vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #847365;
      cursor: default;
    }
    
    .dc__projects-animation {
      display: inline-block;
      position: relative;
      color: #161616;
    }
    
    .dc__projects-animation:after {
      display: none;
    }
    
    .dc__projects-animation:hover:after {
      transform: scaleX(1);
    }
    
    .dc__projects-title {
      display: flex;
      flex: 1;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: center;
      text-align-last: center;
      font-weight: 750;
      font-size: 9.5vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 2.5px;
      -webkit-text-stroke-color: #f06a00;
      cursor: default;
      justify-content: center;
      text-shadow: #847365 0px 0px 0px;
    }
    
    .dc__projects-title-animation {
      display: flex;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 420px) {
    .dc__projects {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      background: #161616;
      z-index: 1;
    }
    
    
    .dc__projects-content {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: default;
      margin-right: 2.5rem;
      margin-left: 2.5rem;
      margin-top: 5rem;
      z-index: 1;
    }
    
    .a_p1,
    .a_p2,
    .a_p3,
    .a_p4 {
      
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: #847365;
      text-shadow: #847365 0px 0px 0px;
      align-items: center;
      text-align: center;
      text-align-last: center;
    }
    
    .project1,
    .project2,
    .project3,
    .project4 {
      display: flex;
      align-items: center;
      flex: 2;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: left;
      font-weight: 750;
      font-size: 7vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #847365;
      cursor: default;
      text-align: center;
      word-break: break-all;
    }
    
    
    .dc__projects-animation {
      display: inline-block;
      position: relative;
      color: #161616;
    }
    
    .dc__projects-animation:after {
      display: none;
    }
    
    .dc__projects-animation:hover:after {
      transform: scaleX(1);
    }
    
    .dc__projects-title {
      display: flex;
      flex: 1;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: center;
      font-weight: 750;
      font-size: 9.5vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: #f06a00;
      cursor: default;
      justify-content: center;
      text-shadow: #847365 0px 0px 0px;
    }
    
    .dc__projects-title-animation {
      display: flex;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 300px) {
    .dc__projects {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      background: #161616;
      z-index: 1;
      justify-content: center;
    }
    
    
    .dc__projects-content {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: default;
      z-index: 1;
      justify-content: center;
    }
    
    .a_p1,
    .a_p2,
    .a_p3,
    .a_p4 {
      
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #847365;
      text-shadow: #847365 0px 0px 0px;
      
      text-align: center;
      text-align-last: center;
      align-items: center;
    }
    
    .project1,
    .project2,
    .project3,
    .project4 {
      display: flex;
      align-items: center;
      text-align: center;
      flex: 2;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 1rem;
      text-align: center;
      text-align-last: center;
      font-weight: 750;
      font-size: 6vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #847365;
      cursor: default;
      justify-content: center;
      word-break: break-all;
    }
    
    .dc__projects-animation {
      display: inline-block;
      position: relative;
      color: #161616;
    }
    
    .dc__projects-animation:after {
      display: none;
    }
    
    .dc__projects-animation:hover:after {
      transform: scaleX(1);
    }
    
    .dc__projects-title {
      display: flex;
      flex: 1;
      margin-bottom: 3rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: .2rem;
      text-align: center;
      font-weight: 750;
      font-size: 9.5vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: #f06a00;
      cursor: default;
      justify-content: center;
      text-shadow: #847365 0px 0px 0px;
    }
    
    .dc__projects-title-animation {
      display: flex;
      text-align: center;
    }
  }