.nba-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #161616;
    padding: 2rem;
  }
  
  .nba-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: default;
    max-width: 75%;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  
  .nba-heading {
    flex: 3;
    color: #161616;
    font-family: var(--font-family);
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    -webkit-text-stroke-width: .1rem;
    -webkit-text-stroke-color: #f06a00;
    text-shadow: #f06a00 0px 0px 6px;
  }
  
  .nba-image {
    flex: 2;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: #f06a00 0px 4px 12px;
    border-radius: 5px;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  
  .nba-paragraph {
    flex: 2;
    color: var(--color-bg);
    font-family: var(--font-family);
    font-size: 1.5rem;
    text-align: justify;
    line-height: 2.5rem;
    margin-top: 2rem;
  }
  
  .nba-link {
    color: #f06a00;
    text-shadow: #f06a00 0px 0px .3rem;
  }
  
  @media screen and (max-width: 1050px) {
    .nba-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
      background-color: #161616;
      padding: .7rem;
    }
  
    .nba-heading {
      flex: 3;
      color: #161616;
      font-family: var(--font-family);
      font-size: 2.5rem;
      margin-bottom: 2rem;
      text-align: center;
      -webkit-text-stroke-width: .08rem;
      -webkit-text-stroke-color: #f06a00;
      text-shadow: #f06a00 0px 0px 0rem;
    }
    
    .nba-image {
      flex: 2;
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      box-shadow: #f06a00 0px 4px 12px;
      border-radius: 4px;
      margin-top: 3vw;
      margin-bottom: 3vw;
    }
    
    .nba-paragraph {
      flex: 2;
      color: var(--color-bg);
      font-family: var(--font-family);
      font-size: .8rem;
      text-align: justify;
      line-height: 1.8rem;
      margin-top: 2rem;
    }
  }
  
  @media screen and (max-width: 300px) {
    .nba-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
      background-color: #161616;
      padding: .7rem;
    }
  
    .nba-heading {
      flex: 3;
      color: #161616;
      font-family: var(--font-family);
      font-size: 2rem;
      margin-bottom: 1rem;
      text-align: center;
      -webkit-text-stroke-width: .08rem;
      -webkit-text-stroke-color: #f06a00;
      text-shadow: #f06a00 0px 0px 0rem;
    }
    
    .nba-image {
      flex: 2;
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      box-shadow: #f06a00 0px 4px 8px;
      border-radius: 4px;
      margin-top: 3vw;
      margin-bottom: 3vw;
    }
    
    .nba-paragraph {
      flex: 2;
      color: var(--color-bg);
      font-family: var(--font-family);
      font-size: .6rem;
      text-align: justify;
      line-height: 1.2rem;
      margin-top: 2rem;
    }
  }